<!Doctype html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/css/index.css" />
<title>Symptom this!!!</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>

</head>
<body>


	<div id="okvir">
		<div id="logo">
			<img src="/images/logo.jpg" alt="LOGO" />
		</div>
		<hr/>
		<div id="opis">
			<p>Dobro došli u aplikaciju Symptom this!</p>
			<BR/>
			<p>Ova aplikacija vam omogućava jednostavno dijagnosticiranje
				bolesti. Sve što je potrebno da uradite jeste da unesete simptome.
				Nakon što to uradite izvršiće se pretraga bolesti u bazi podataka,
				te će se pokazati one koje odgovaraju unesenim simptomima.</p>

			<BR/>
			<p>Prve na listi će biti prikazane dijagnoze koje imaju najveći
				postotak podudaranja sa unesenim simptomima, a potom i ostale
				dijagnoze u opadajućem poretku po postotku podudaranja sa unesenim
				simptomima. Pored svake dijagnoze u listi će biti prikazan i
				postotak poklapanja unesenih simptoma sa stvarnim simptomima neke
				bolesti koji se nalaze u bazi podataka. Odabirom jedne od dijagnoza
				biće prikazan detaljan opis te dijagnoze.</p>
		</div>
		<div class="buttoni" data-ng-app="myApp" data-ng-controller="myController">
			<BR/>
			<BR/>
			<BR/>
			<BR/>
			<BR/>
			
			<button class="dugme" data-ng-click="login()">Log in</button>
			
		

			<BR/>
			<BR/>
			<BR/>
			<BR/>
			<BR/>
			
			<button class="dugme" data-ng-click="dijagnoza()">Izvrši dijagnozu</button>

		</div>
	</div>
	<hr/>
<script src = "js/app.js"></script>
<script src = "js/controller/controller.js"></script>
</body>
</html>