<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Symptom this!!!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  
  <link rel="stylesheet" href="css\login.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
</head>

<body>
<div class="container" >
	<section id="content" data-ng-app="myApp" >
		<form data-ng-controller="loginController" data-ng-submit="posalji()" >
			<h1>Login</h1>
			<p> {{ message }}</p>
			<div>
				<input type="text" placeholder="Username" id="username" data-ng-model="username"/>
			</div>
			<div>
				<input type="password" placeholder="Password" id="password" data-ng-model="password"/>
			</div>
			<div>
				<input type="submit" value="Log in" />
			</div>
			<a href="promijeniPassword" class="navbar-brand">Promjeni password</a>
		</form><!-- form -->
	</section><!-- content -->
</div><!-- container -->
<script src = "js/app.js"></script>
<script src = "js/controller/loginController.js"></script>
</body>
</html>