@CHARSET "ISO-8859-1";
#okvir{
	width: 998px;
	height: 750px;
	margin: auto;
	background-image: url(../images/pozadina.jpg);
    background-repeat:no-repeat;
	background-position: center;
}
#logo{
	text-align: center;
}

#opis{
	vertical-align: left;
	width: 60%;
	float: left;
	text-align: justify;
	margin-left: 3%;
}

#buttoni{
	text-align: right;
	verlical-align: right;
	width: 30%;
	float: right;
	margin-right: 3%;
}

hr{
    height: 1%;
    border: 0;
    box-shadow: inset 0 12px 12px -12px #000033;
}

.dugme{
	
	background-color: #000080;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	width: 250px; 
	height: 50px;
	}

