.container {
	position: center;
	width: 50%;
}

.form-group{
	margin-left: 2%;
	margin-right: 2%;
}

.btn  {
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

.poruka {
	text-align: center;
}

.ikona {
	width: 33%;
    margin: 0 auto;
}

.glyphicon.glyphicon-ok-sign, .glyphicon.glyphicon-remove-sign {
	font-size: 75px;
}